
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #fafafa;

}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  
  font-size: 18px;
  display: flex;
  width:15vw;
  background: #fafafa;
  font-family: "Noto Sans", sans-serif;
  
}
.conteudoLateralEsquerda ul li{
  gap: 10px;
  display: flex;
  height: 70px;
}

.conteudoLateralEsquerda .Profile{
  margin-top: auto;
}


.conteudoLateralDireita {
  
  background: blue;
  width:20vw;
  
}

.conteudoCentral {
  width:65vw;
  background: rgb(255, 255, 255);
}