.conteudoCentral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.stories,
.feed {
    margin: 20px 0 0;
    padding: 5px;
    width: 500px;
}
 
.feed {
    background: red;
}
 
.stories {
    gap: 8px;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}
 
 
.story {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    
}
 
.story img {
    
    border-radius: 50%;
    border: 3px solid #ff8501;
    padding: 2px;
    margin-bottom: 5px;
    max-width: 100%;
    min-width: 50px;
    height: 60px;
    width: 60px;
}

#texto{
    position: relative;
    right: -5px;
    top: -10px;
    font-size: 15px;
    text-align: center;
}
