.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 60px;
}
 
.story img {
    border-radius: 50%;
    border: 3px solid #ff8501;
    padding: 2px;
    margin-bottom: 5px;
    max-width: 100%;
}